body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
  min-height: 100vh;
}
main {
  width: 626px;
  margin: auto;
  padding-top: 64px;
}
main img {
  margin-bottom: 32px;
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #3F3D56;
}
h1 span {
  color: #EE24FF;
  font-weight: 700;
}
span {
  font-weight: 700;
}
.paragrafo {
  width: 540px;
  margin: auto;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 16px;
  color: #828282;
}
#ultimate {
  margin-top: 32px;
}
.line {
  margin: auto;
  border: 1px solid #ECEFF2;
  width: 391px;
  height: 0px;
}

strong, a {
  font-size: 15px;
  font-weight: 700;
  color: #3F3D56;
}

#footer {
  margin: 0 auto;
  padding-top: 68px;
}
#footer .line {
  margin-bottom: 16px;
}
#footer a {
  text-decoration: none;
}
.alline {
  margin-right: 42px;
}
#balls {
  margin-top: 40px;
}

